body {
    display: flex;
    flex-direction: column;
    background-image: -moz-linear-gradient(pink,rgb(215, 160, 223),rgb(163, 163, 221));
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    
}
h1 {
    font-size: 45px;
    margin-bottom: 17px;
}
button {
   border: 2px solid black;
   border-radius: 0.2rem;
   box-shadow: 1px 1px 3px 0.5px black;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
   font-size: 16px;
   padding:5px;
}
.range {
    box-shadow: 0px 0px 1px 1px black;
    margin-right:10px;
}
.colorInput {
    box-shadow: 1px 2px 3px 2px black;
    width: 90px;
    height: 40px;
    background-color: rgb(120, 100, 200);
}
.allTools {
    display:flex;
    flex-direction: column;
}
.pickStuff {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.pickColor {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.rangeAndLines {
    margin-top: 10px;
    display:flex;
    width: 600px;
    justify-content: space-between;
}
.rangeAndResult {
    display: flex;
}
.rangeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.rangeResult {
    font-weight: bold;
    margin-top: 2px;
    padding-top:1.2px;
    border: 2px solid black;
    background-color: antiquewhite;
    width: 30px;
    height:fit-content;
    text-align: center;
    font-size: 15px;
    border-radius: 0.2rem;
}
.pickRange,
.gridLines {
    background-color: antiquewhite;
}
.rainbow {
    background-image: -moz-linear-gradient(to right, rgb(197, 115, 115),rgb(121, 121, 196),rgb(106, 198, 106));
}
.horizontalLine {
    display: flex;
}
.contenedor {
    margin-top:12px;
    display:flex;
    flex-direction: column;
    border:2px solid black;
    width: 600px;
    height: 100%;
    flex-grow: 0;
    box-shadow: 1px 1px 7px 0px black;
}
.eachDiv,
.NoLines {
    background-color: whitesmoke;
}
.eachDiv {
    box-shadow:inset 0px 0px 0px 0.5px gray;
}
.NoLines {
    box-shadow: none;
}